@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.back{
  background-image: url('../public//assets/lion-leao-logo-png_seeklogo-344756.png');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.page-video-container {
  animation: fadeOut 2s ease-out 5s forwards; /* Fades out after 5 seconds */
}
.title{
  padding-top: 45px;
  padding-bottom: 40px;
}