@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: linear-gradient(right,109, 140, 132);
  font-family: Arial, Helvetica, sans-serif;
}
.back{
  background-image: url('https://media.drive.com.au/obj/tx_q:70,rs:auto:1200:675:1/driveau/upload/cms/uploads/bi36meqa62rhbghgdrkh');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.hooverImage{
  background-color: rgba(0, 0, 0, 0.2);
}